.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 10rem;
  height: 3rem;
}
@media screen and (max-width: 768px) {
  .header > :nth-child(2) {
    position: fixed;
    z-index: 222;
    right: 2rem;
  }
  .nav_list {
    flex-direction: column;
    background-color: var(--appColor);
    padding: 2rem;
  }
}
